alias diff='diff --color=auto'
alias grep='grep --color=auto'
alias ls='ls --color=auto'
alias pbcopy='xclip -selection clipboard'
alias vim='nvim'
alias edit='nvim'
alias mail='neomutt'
alias news='newsboat'
alias bpm='watch -t -n 0.5 "</tmp/bpm figlet" | lolcat -a'
