[submodule "nvim/.config/nvim/pack/bundle/start/vim-peekaboo"]
	path = nvim/.config/nvim/pack/bundle/start/vim-peekaboo
	url = https://github.com/junegunn/vim-peekaboo.git
[submodule "nvim/.config/nvim/pack/bundle/start/vim-abolish"]
	path = nvim/.config/nvim/pack/bundle/start/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "nvim/.config/nvim/pack/bundle/start/vim-commentary"]
	path = nvim/.config/nvim/pack/bundle/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "nvim/.config/nvim/pack/bundle/start/vim-eunuch"]
	path = nvim/.config/nvim/pack/bundle/start/vim-eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule "nvim/.config/nvim/pack/bundle/start/vim-jdaddy"]
	path = nvim/.config/nvim/pack/bundle/start/vim-jdaddy
	url = https://github.com/tpope/vim-jdaddy.git
[submodule "nvim/.config/nvim/pack/bundle/start/vim-repeat"]
	path = nvim/.config/nvim/pack/bundle/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "nvim/.config/nvim/pack/bundle/start/vim-surround"]
	path = nvim/.config/nvim/pack/bundle/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "nvim/.config/nvim/pack/bundle/start/vim-unimpaired"]
	path = nvim/.config/nvim/pack/bundle/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "nvim/.config/nvim/pack/bundle/start/vim-gitgutter"]
	path = nvim/.config/nvim/pack/bundle/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "nvim/.config/nvim/pack/bundle/start/vim-fugitive"]
	path = nvim/.config/nvim/pack/bundle/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "nvim/.config/nvim/pack/bundle/start/vim-rhubarb"]
	path = nvim/.config/nvim/pack/bundle/start/vim-rhubarb
	url = https://github.com/tpope/vim-rhubarb.git
[submodule "nvim/.config/nvim/pack/bundle/start/ultisnips"]
	path = nvim/.config/nvim/pack/bundle/start/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "nvim/.config/nvim/pack/bundle/start/vim-snippets"]
	path = nvim/.config/nvim/pack/bundle/start/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "nvim/.config/nvim/pack/bundle/start/deoplete.nvim"]
	path = nvim/.config/nvim/pack/bundle/start/deoplete.nvim
	url = https://github.com/Shougo/deoplete.nvim.git
[submodule "nvim/.config/nvim/pack/bundle/start/nvim-lsp"]
	path = nvim/.config/nvim/pack/bundle/start/nvim-lsp
	url = https://github.com/neovim/nvim-lsp.git
[submodule "nvim/.config/nvim/pack/bundle/start/vim-prettier"]
	path = nvim/.config/nvim/pack/bundle/start/vim-prettier
	url = https://github.com/prettier/vim-prettier.git
[submodule "nvim/.config/nvim/pack/bundle/start/vim-obsession"]
	path = nvim/.config/nvim/pack/bundle/start/vim-obsession
	url = https://github.com/tpope/vim-obsession.git
[submodule "nvim/.config/nvim/pack/bundle/start/vim-test"]
	path = nvim/.config/nvim/pack/bundle/start/vim-test
	url = https://github.com/vim-test/vim-test.git
[submodule "nvim/.config/nvim/pack/bundle/start/vim-jsx-pretty"]
	path = nvim/.config/nvim/pack/bundle/start/vim-jsx-pretty
	url = https://github.com/MaxMEllon/vim-jsx-pretty.git
[submodule "nvim/.config/nvim/pack/bundle/start/editorconfig-vim"]
	path = nvim/.config/nvim/pack/bundle/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "nvim/.config/nvim/pack/bundle/start/vim-gruvbox8"]
	path = nvim/.config/nvim/pack/bundle/start/vim-gruvbox8
	url = https://github.com/lifepillar/vim-gruvbox8.git
